@font-face {
    font-family: 'Sukhumvit Set';
    src: url('https://github.com/useronlineid/fonts/blob/main/SukhumvitSet-Regular.ttf?raw=true') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Sukhumvit Set';
    src: url('https://github.com/useronlineid/fonts/blob/main/SukhumvitSet-Thin.ttf?raw=true') format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: 'Sukhumvit Set';
    src: url('https://github.com/useronlineid/fonts/blob/main/SukhumvitSet-Text.ttf?raw=true') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Sukhumvit Set';
    src: url('https://github.com/useronlineid/fonts/blob/main/SukhumvitSet-SemiBold.ttf?raw=true') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Sukhumvit Set';
    src: url('https://github.com/useronlineid/fonts/blob/main/SukhumvitSet-Medium.ttf?raw=true') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Sukhumvit Set';
    src: url('https://github.com/useronlineid/fonts/blob/main/SukhumvitSet-Light.ttf?raw=true') format('truetype');
    font-weight: 200;
}

@font-face {
    font-family: 'Sukhumvit Set';
    src: url('https://github.com/useronlineid/fonts/blob/main/SukhumvitSet-Bold.ttf?raw=true') format('truetype');
    font-weight: 700;
    
}


body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #faf0ff, #ffffff);
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input, form select {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

form button:hover {
    background-color: #0056b3;
}

.display-section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Sukhumvit Set', sans-serif;
    position: relative;
}

.receipt {
    width: 645px; /* Adjust width to match image dimensions */
    height: 919px; /* Adjust height to match image dimensions */
    background: url('https://github.com/useronlineid/document/blob/main/2222.jpg?raw=true') no-repeat center center;
    background-size: cover;
    background-color: white; /* For any area not covered by the image */
    text-align: center;
    position: relative;
}

.receipt p {
    margin: 5px 0;
    color: black; /* Ensure text color is readable over the background */
    position: absolute; /* Enable absolute positioning */
}

#display-date-time {
    top: 65.8px; /* Adjust position as needed */
    left: 53px; /* Adjust position as needed */
    font-size: 30px; /* Initial font size */
    font-weight: 600;
    color: #565656; /* Initial color */
    letter-spacing: 0.1px; /* Adjust letter spacing as needed */
}

#display-sender-name {
    top: 173px; /* Adjust position as needed */
    left: 182px; /* Adjust position as needed */
    font-size: 30.5px; /* Initial font size */
    font-weight: 600;
    color: #565656; /* Initial color */
    letter-spacing: -0.4px; /* Adjust letter spacing as needed */
}

#display-message-1 {
    top: 217px; /* Adjust position as needed */
    left: 182px; /* Adjust position as needed */
    font-size: 30px; /* Initial font size */
    font-weight: 500;
    color: #606060; /* Initial color */
    letter-spacing: 0px; /* Adjust letter spacing as needed */
}

#display-sender-account {
    top: 263.2px; /* Adjust position as needed */
    left: 182px; /* Adjust position as needed */
    font-size: 30px; /* Initial font size */
    font-weight: 500;
    color: #606060; /* Initial color */
    letter-spacing: -0.1px; /* Adjust letter spacing as needed */
}

#display-receiver-name {
    top: 405px; /* Adjust position as needed */
    left: 182px; /* Adjust position as needed */
    font-size: 30.5px; /* Initial font size */
    font-weight: 600;
    color: #565656; /* Initial color */
    letter-spacing: -0.4px; /* Adjust letter spacing as needed */
}

#display-receiver-account {
    top: 496px; /* Adjust position as needed */
    left: 182px; /* Adjust position as needed */
    font-size: 30px; /* Initial font size */
    font-weight: 500;
    color: #606060; /* Initial color */
    letter-spacing: -0.1px; /* Adjust letter spacing as needed */
}

#display-transaction-id {
    top: 641px; /* Adjust position as needed */
    left: -293px; /* Adjust position as needed */
    font-size: 29px; /* Initial font size */
    font-weight: 500;
    color: #606060; /* Initial color */
    letter-spacing: -0.85px; /* Adjust letter spacing as needed */
    text-align: right; /* Align text to the right */
    width: 100%; /* Ensure the width allows the text to align properly */
    position: absolute; /* Ensure absolute positioning */
  
}

#display-amount {
    top: 732px; /* Adjust position as needed */
    left: -292px; /* Adjust position as needed */
    font-size: 30px; /* Initial font size */
    font-weight: 600;
    color: #606060; /* Initial color */
    letter-spacing: -0.1px; /* Adjust letter spacing as needed */
    text-align: right; /* Align text to the right */
    width: 100%; /* Ensure the width allows the text to align properly */
    position: absolute; /* Ensure absolute positioning */
}

#display-fee {
    top: 823px; /* Adjust position as needed */
    left: -292px; /* Adjust position as needed */
    font-size: 30px; /* Initial font size */
    font-weight: 600;
    color: #606060; /* Initial color */
    letter-spacing: -0.1px; /* Adjust letter spacing as needed */
    text-align: right; /* Align text to the right */
    width: 100%; /* Ensure the width allows the text to align properly */
    position: absolute; /* Ensure absolute positioning */
}

#display-bank {
    top: 450px; /* Adjust position as needed */
    left: 182px; /* Adjust position as needed */
    font-size: 30px; /* Initial font size */
    font-weight: 500;
    color: #606060; /* Initial color */
    letter-spacing: 0px; /* Adjust letter spacing as needed */
}

#display-bank-logo {
    top: 403px; /* Adjust position as needed */
    left: 26.5px; /* Adjust position as needed */
    width: 122px; /* Adjust width as needed */
    height: 122px; /* Adjust height as needed */
    position: absolute; /* Ensure absolute positioning */
}

#display-qrcode {
    top: 638px; /* Adjust position as needed */
    left: 411px; /* Adjust position as needed */
    width: 197px;
    height: 197px;
    position: absolute; /* Ensure absolute positioning */
}

#additional-image {
    top: 169px; /* Adjust position as needed */
    left: 26.5px; /* Adjust position as needed */
    width: 122px; /* Adjust width as needed */
    height: 122px; /* Adjust height as needed */
    position: absolute; /* Ensure absolute positioning */
}

